In [0]:
# Example of Data with header
dbutils.fs.put("/scenaio/DynamicColumn.csv","""
id,name,loc,age,sex
1,Shiv,Etawah,24,M
2,Akash,Agra
3,Mohit
4,Alok,Delhi,28
5,Srikant,Noida
""",True)

Wrote 93 bytes.
Out[1]: True

In [0]:
df = spark.read.csv("/scenaio/DynamicColumn.csv", header = True)
display(df)

id,name,loc,age,sex
1,Shiv,Etawah,24,M
2,Akash,Agra,null,null
3,Mohit,null,null,null
4,Alok,Delhi,28,null
5,Srikant,Noida,null,null

In [0]:
# Example data without Header
dbutils.fs.put("/scenaior/DynamicWithoutHeader.csv",
"""1,Shiv,Etawah,24,M
2,Akash,Agra
3,Mohit
4,Alok,Delhi,28
5,Srikant,Noida
""",True)

Wrote 72 bytes.
Out[17]: True

In [0]:
df1 = spark.read.csv("/scenaior/DynamicWithoutHeader.csv")
display(df1)

_c0,_c1,_c2,_c3,_c4
1,Shiv,Etawah,24,M
2,Akash,Agra,null,null
3,Mohit,null,null,null
4,Alok,Delhi,28,null
5,Srikant,Noida,null,null

For This Type of Scenaior Convert CSV file into Text file

In [0]:
df1 = spark.read.text("/scenaior/DynamicWithoutHeader.csv")
display(df1)

value
"1,Shiv,Etawah,24,M"
"2,Akash,Agra"
"3,Mohit"
"4,Alok,Delhi,28"
"5,Srikant,Noida"

Split the Data with coma delimeter

In [0]:
from pyspark.sql.functions import split, length, col, max,size
#Split the Text Data using Split function with coma 
df2 = df1.select(split("value",",").alias("split_column"))
display(df2)

split_column
"List(1, Shiv, Etawah, 24, M)"
"List(2, Akash, Agra)"
"List(3, Mohit)"
"List(4, Alok, Delhi, 28)"
"List(5, Srikant, Noida)"

In [0]:
# find the Size of Each Column
df2.select('split_column',size('split_column')).show(truncate=False)

+------------------------+------------------+
|split_column            |size(split_column)|
+------------------------+------------------+
|[1, Shiv, Etawah, 24, M]|5                 |
|[2, Akash, Agra]        |3                 |
|[3, Mohit]              |2                 |
|[4, Alok, Delhi, 28]    |4                 |
|[5, Srikant, Noida]     |3                 |
+------------------------+------------------+

In [0]:
# Finding the max size of Split_column 
df2.select(max(size('split_column'))).collect()[0][0]

Out[58]: 5

In [0]:
# Getting Max Index value for generating dynamic columns using max size of items at each row.
# Dynamically Add Columns using WithColumn 
# Drop split_Column which is not required after split into individual columns
for i in range (df2.select(max(size('split_column'))).collect()[0][0]):
    df2 = df2.withColumn('col'+ str(i),df2["split_column"][i])
df3 = df2.drop("split_column")    
display(df3)

col0,col1,col2,col3,col4
1,Shiv,Etawah,24,M
2,Akash,Agra,null,null
3,Mohit,null,null,null
4,Alok,Delhi,28,null
5,Srikant,Noida,null,null